@import "tailwindcss";

.font-ovo{font-family: Ovo, serif;}
.font-outfit{font-family: Outfit, sans-serif;}

.bg-light-hover:hover {
  background-color: #fcf4ff;
}
.bg-dark-hover:hover {
  background-color: #2a004a;
}

.dark-hover{
  background-color: #2a004a;
}

.black:hover{
  box-shadow: 4px 4px 0 #000;
}
.white:hover{
  box-shadow: 4px 4px 0 #fff;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

html.dark body {
  background-color: #11001F;
  color: #f0f0f0;
}

*{
  font-family: Outfit;
}
